<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144724387890-4dveu971sh0onqho6i9ufad0bjiipsnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144724387890-4dveu971sh0onqho6i9ufad0bjiipsnu</string>
	<key>API_KEY</key>
	<string>AIzaSyCwEJ1xLx3GvWzi35DkBZvKlKFORdQAbkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>144724387890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-2e85f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-2e85f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144724387890:ios:77958e37b78d2b46b6742b</string>
</dict>
</plist>